#name-png {
    width: 45%;
}

header {
    display: flex;
    align-items: center;
    background-color: #dad3c7;
}

@media (max-width: 1010px) {
    header {
        flex-direction: column;
        /* Display the list items in a column */
        align-items: center;
        /* Center them horizontally */
        width: 100%;
    }

    #name-png {
        width: 100%;
    }

    #name-png img {
        align-items: center;
        text-align: center;
        width: 90%;
    }



}